
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Detalle de Producto</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="~/Style/login.css">
	<script src="~/Scripts/index.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
</head>
<body style="background-color:#343a40;">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/Home/Main">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Home/Mercado">Perfil</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/Home/Mercado" tabindex="-1" aria-disabled="true">Mercado</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Home/index" tabindex="-1" aria-disabled="true">
						<i class="material-icons">
							person_pin
						</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<br />
	<br />
    <div class=" container">
			<div class="row">
				<div class="col-md-6">
					<iframe width="90%" height="500" src="https://www.youtube.com/embed/F7G91RjVmvk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col-md-6">
					<p>
						Fifa es un juego de Futball basado en la vida real, con los mejores personajes de todo el mundo
						Podras jugar las mejores copas y ligas.
					</p>
				</div>
			</div>
			<br />
			<br />
			<div style="background-color:#343a40;">
				
			</div>
		
	<div>
		<input type="button" value="Comprar" class="btn btn-danger" />
		<input type="button" value="Agregar a carrito" class="btn btn-success" />
		<p>Comentarios</p>
		<input style="width: 40%" type="text" class="form-control" />
		<br />
		<br />
		<input type="button" class="btn btn-success" value="Agregar comentario" />
		<br />
		<br />
	</div>

	</div>
</body>
</html>
