
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="~/Style/login.css">
		<script src="~/Scripts/index.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
	<title>Index</title>
</head>
<body style="background-color:#343a40; text-align:center">
	<br />
	<br />
	<br />
	<br />
		<br />
	<br />
	<br />
	<br />
    <div class="container" style="width:40%">
			<form method="post" target="_self" action="/Home/Login">
				<p>Usuario</p>
				<input class="form-control" type="text" />
				<br />
				<p>Password</p>
				<input class="form-control" type="password" />
				<br />
				<input class="btn btn-danger" type="submit" value="Ingresar" />
				<br />
				<p>@ViewBag.message</p>
				<a href="" data-toggle="modal" data-target="#exampleModalCenter">Ha olvidado su contrase&ntilde;a?</a>
			</form>
		<div>
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-body" style="background-color:#343a40;">
							<br />
							<br />
							<p style="color:white;">Recuperaci&oacute;n de contrase&ntilde;a</p>
							<div class="row">
								<div class="col-md-6">
									<input id="user" type="text" class="form-control" placeholder="Usuario" />
								</div>
								<div class="col-md-6">
									<input type="button" value="Enviar codigo" onclick="enviarMail()" class="btn btn-primary" />
								</div>
							</div>
							<br />
							<br />
						</div>
					</div>
				</div>
			</div>

			</div>
    </div>
</body>
</html>
