
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/menu.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CamoStore</title>

</head>
<body>
    <div data-role="page" data-theme="f">
        <div data-role="header" data-theme="f">
            <ul>
                <li class="dropdown">
                    <a href=""  class="dropbtn ui-btn-left ui-btn-inline"><img src="~/Content/img/menu (1).png" width="30" height="30" /></a>
                    <div class="dropdown-content">
                        <a href="#">Inicio</a>
                        <a href="#">Noticias</a>
                        <a href="#">Productos</a>
                        <a href="#">Destacados</a>
                        <a href="#">Favoritos</a>
                        <a href="#">Lista de compras</a>
                    </div>
                </li>
            </ul>
            <h1>CamoStore</h1>
            <a href="/Home/InicioSesion" class="dropbtn ui-btn-right ui-btn-inline" data-transition="fade"><img src="~/Content/img/usuario.png" width="30" height="30" /></a>
        </div>
        <div data-role="content" style="text-align:center;">


        </div>
       
    </div>
</body>
</html>
