
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/menu.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CamoStore</title>
</head>
<body>
    <div data-role="page" data-theme="f">
        <div data-role="header" data-theme="f">
            <h1>CamoStore</h1>
            <a href="/Home/InicioSesion" data-transition="pop" class="dropbtn ui-btn-left ui-btn-inline"><img src="~/Content/img/anterior.png" width="30" height="30" /></a>
        </div>
        <div data-role="content" style="text-align:center;">
            <h2>Recuperar Contraseña</h2>
            <img src="~/Content/img/pregunta.png" width="100" height="100" />

            <form action="/Home/IngresarLogin" method="post">
                <label style="font-weight: bold; font-size:20px;" for="pregunta">Pregunta</label>
                <input class="texto" data-theme="a" type="text" name="pregunta" id="pregunta" autocomplete="off" required readonly />
                <input class="texto" data-theme="a" type="text" name="respuesta" id="respuesta" placeholder="Ingrese la respuesta" autocomplete="off" required />
                <br />
                <input class="ui-btn ui-corner-all" data-theme="b" type="submit" value="Verificar" name="verificar" />
                <a href="/Home/EnviarCodigo" data-transition="slide">Siguiente temporal</a>
            </form>
        </div>
    </div>
</body>
</html>
